<div ng-controller="pesquisarUsuarioCtrl" class="panel panel-default" >
	
	<form name="principalForm">
		
		<div class="panel-heading">
			<h1>Pesquisa de Usuário</h1>
		</div>
		
		<div class="panel-body">
		
			<div class="container bg-warning">
		   		<span>
		   			{{messagemInfo}}
		   		</span>
		   </div>
		   
		   <div class="container bg-success">
		   		<span>
		   			{{messagemSucess}}
		   		</span>
		   </div>
		   
			<div  class="row">
				<div  class="form-group col-md-1" ng-class="{ 'has-error' : formCadastrarUsuario.id.$invalid && !formCadastrarUsuario.id.$pristine }">
					<label>ID: </label>
					<input class="form-control" 
						   ng-model="usuario.id"
						   name="id"
						   id="id"
						   maxlength="6"
						   size="10px"
						   ng-minlength="1"
						   ng-maxlength="6"
						   type="text"
						   valid-number>
					<p ng-show="principalForm.id.$error.minlength" class="help-block">Nome no mínimo 1 caracteres.</p>
        			<p ng-show="principalForm.id.$error.maxlength" class="help-block">Nome no máximo 6 caracteres.</p>
				</div>
			</div>
			<div  class="row">
				<div  class="form-group col-md-7" ng-class="{ 'has-error' : formCadastrarUsuario.idNome.$invalid && !formCadastrarUsuario.idNome.$pristine }">
					<label>Nome: </label>
					<input class="form-control" 
						   ng-model="usuario.nome" 
						   type="text"
						   id="idNome"
						   name="idNome"
						   maxlength="150"
						   ng-minlength="3"
						   ng-maxlength="150"/>
					<p ng-show="principalForm.idNome.$error.minlength" class="help-block">Nome no mínimo 3 caracteres.</p>
        			<p ng-show="principalForm.idNome.$error.maxlength" class="help-block">Nome no máximo 150 caracteres.</p>
				</div>
			</div>
			<div  class="row">			
				 <div class="form-group col-md-4" ng-class="{ 'has-error' : formCadastrarUsuario.id.$invalid && !formCadastrarUsuario.id.$pristine }">
					<label>CPF: </label>
					<input class="form-control" 
						   ng-model="usuario.cpf" 
						   type="text"
						   onkeyup="this.value=this.value.replace(/[' ']/g,'')"
						   mask-cpf/>
				 </div>
			</div>
			
			<div  class="row">
				<div class="form-group col-md-4">
					<button class="btn btn-primary" ng-click="findUsuarioByParam()">Pesquisar</button>
				</div>
			</div>
		
			<br>
			<table class="table table-striped table-bordered table-hover" >
				<tr>
					<td style="padding: 5px">ID</td>
					<td style="padding: 5px">Nome</td>
					<td style="padding: 5px">CPF</td>
					<td style="padding: 5px">Ação</td>
				</tr>
				<tr ng-repeat="u in usuarios">
					<td style="padding: 5px">{{ u.id }}</td>
					<td style="padding: 5px">{{ u.nome }}</td>
					<td style="padding: 5px">{{ u.cpf }}</td>
					<td>
						<!-- Passagem de parametro na url -->
						<a href="#/alterarUsuario/{{u.id}}">
							<button type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-edit"></span>
							</button>
						</a>
						
						<!-- Passagem de parametro na função -->
						<button type="button" class="btn btn-default" ng-click="excluirUsuario(u.id)">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</td>
				</tr>
			</table>
		</div>
	</form>
	<form name="auxForm">
		<div  class="row">
			<div class="form-group col-md-4">
				<a href="#/cadastrarUsuario">
					<button class="btn btn-success">Cadastrar Usuário</button>
				</a>
			</div>
		</div>
	</form>
</div>
