<div ng-controller="manterUsuarioCtrl" class="panel panel-default" >
	<form name="principalForm">
		<div class="panel-heading">
			<h1>Cadastro de Usuário</h1>
		</div>
		
		<div class="panel-body">
			
			<div  class="row">
				<div  class="form-group col-md-1">
					<label>ID: </label>
					<div  class="form-control" >{{usuario.id}}</div>
				</div>
			</div>
			
			<div  class="row">
				<div  class="form-group col-md-7" ng-class="{ 'has-error' : principalForm.idNome.$invalid && !principalForm.idNome.$pristine }">
					<label>Nome: </label>
					<input id="idNome"
						   name="idNome"
						   class="form-control" 
						   ng-model="usuario.nome" 
						   type="text"
						   ng-minlength="minlength"
						   ng-maxlength="255" 
						   required>
					<p ng-show="principalForm.idNome.$error.minlength" class="help-block">Nome no mínimo 3 caracteres.</p>
        			<p ng-show="principalForm.idNome.$error.maxlength" class="help-block">Nome no máximo 255 caracteres.</p>
				</div>
			</div>
			
			<div  class="row">			
				 <div class="form-group col-md-4">
					<label>CPF: </label>
					<input class="form-control" 
						   ng-model="usuario.cpf" 
						   type="text"
						   ng-minlength="11"
						   ng-maxlength="11"  
						   required>
				 </div>
			</div>
			
			<div  class="row" ng-class="{ 'has-error' : principalForm.idEmail.$invalid && !principalForm.idEmail.$pristine }">			
				 <div class="form-group col-md-4">
					<label>e-mail: </label>
					<input id="idEmail"
						   name="idEmail"
						   class="form-control" 
						   ng-model="usuario.dsEmail" 
						   type="email" 
						   required>
					<p ng-show="principalForm.idEmail.$error.email" class="help-block">digite um e-mail válido.</p>
				 </div>
			</div>
			
			<div  class="row">
				<div class="form-group col-md-4">
					<button class="btn btn-primary" ng-click="salvar()">Salvar</button>
				</div>
			</div>
		</div>
	</form>
</div>
