<div ng-controller="HomeCtrl" class="panel  panel-default" >
	<form name="principalForm">
	
<!-- 		<div class="panel-heading"> -->
<!-- 			<h1>Texto Principal</h1> -->
<!-- 		</div> -->

		<div class="wrapper">
		    <article class="grid_8 alpha">
		        <div class="box-1">
		            <div class="padding">
		                <strong class="title-1">Bolos</strong>
		                <p class="border-bot1">Deliciosos Bolos Decorados</p>
		                <div class="alignright">
		                    <a class="link-1" href="#">Veja Mais</a>
		                </div>
		            </div>
		        </div>
		    </article>
		    <article class="grid_8 omega">
		        <div class="box-2">
		            <div class="padding">
		                <strong class="title-1">Doces</strong>
		                <p class="border-bot2">Deliciosos Doces</p>
		                <div class="alignright">
		                    <a class="link-1" href="#">Veja Mais</a>
		                </div>
		            </div>
		        </div>
		    </article>
		    
		    <article class="grid_8 omega">
		        <div class="box-2">
		            <div class="padding">
		                <strong class="title-1">Salgados</strong>
		                <p class="border-bot2">Deliciosos Salgados</p>
		                <div class="alignright">
		                    <a class="link-1" href="#">Veja Mais</a>
		                </div>
		            </div>
		        </div>
		    </article>
		    
		</div>
		
	</form>
</div>